@use "./base/colors";
@use "./components/el-header";
@use "./components/el-footer";

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: colors.$colors,
  $header: el-header.$header,
  $footer: el-footer.$footer
);
